<h1 class="text-center title" id="title"></h1>
<div class="level-bar">
    <div class="error-bar"></div>
    <h1 id="timer">00:00</h1>
</div>
<div id="grid">
    
</div>
<div class="choose-fruit">
    <div class="fruit" data-fruit="1">
        <img src="./assets/images/fruits/fruit_1.png" class="fruit-img" alt="fruit image" draggable="false">
    </div>
    <div class="fruit" data-fruit="2">
        <img src="./assets/images/fruits/fruit_2.png" class="fruit-img" alt="fruit image" draggable="false">
    </div>
</div>

