<h1 class="text-center title" id="title"></h1>
<div class="level-bar">
    <div class="error-bar"></div>
    <h1 id="timer">00:00</h1>
</div>
<div id="grid"></div>
<div class="choose-fruit">
    <div class="fruit" data-fruit="1">
        <img src="./assets/images/fruits/fruit_1.png" class="fruit-img" alt="fruit image" draggable="false">
    </div>
    <div class="fruit" data-fruit="2">
        <img src="./assets/images/fruits/fruit_2.png" class="fruit-img" alt="fruit image" draggable="false">
    </div>
</div>
<div id="alert_win" class="level-alert">
    <h2 class="level-title">VICTORY</h2>
    <p class="level-mess">Completed in <br>{{timer}}</p>
    <div class="level-buttons">
        <button class="button sec" onclick="top.location = '#/'">HOME</button>
        <button class="button pri" id="nextLevel">NEXT</button>
    </div>
</div>
<div id="alert_lose" class="level-alert">
    <h2 class="level-title">DEFEAT</h2>
    <p class="level-mess">GAME OVER</p>
    <div class="level-buttons">
        <button class="button sec" onclick="top.location = '#/'">HOME</button>
        <button class="button pri" onclick="location.reload()">TRY AGAIN</button>
    </div>
</div>
<div class="backdrop"></div>

