.container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.title{
    font-size: 50px;
    margin-bottom: 3rem;
    font-family: var(--game);
}

.subtitle{
    font-size: 25px;
}
#levels-wrapper{
    opacity: 0;
    z-index: -10;
    scale: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    transition: all .33s ease-in-out;
    background-color: var(--main-color-light);
    width: calc(100% - 40px);
    max-width: 560px;
    height: calc(100% - 80px);
    padding: 0 20px 20px;
    font-family: var(--game);
    border: 5px solid var(--main-color)
}

#levels-wrapper.active {
    opacity: 1;
    scale: 1;
    z-index: 10;
}
#levels-wrapper ~ .backdrop{
    position: absolute;
}
#levels-wrapper.active ~ .backdrop{
    inset: -50px;
    backdrop-filter: blur(5px);
    z-index: 9;
}
#levels-wrapper .level-title {
    height: 50px;
    background-color: var(--main-color);
    color: var(--white);
    width: 50%;
    margin: -25px auto 0;
    line-height: 50px;
    border-radius: 15px;
}
#levels{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
}
.level {
    width: calc(33% - 20px);
    max-width: calc(33% - 20px);
    aspect-ratio: 1/1;
    flex-grow: 1;
    background-color: var(--green);
    border-radius: 20px;
}
.level.locked{
    pointer-events: none;
    background-color: var(--dgreen);
}
.level.completed{
    background-color: var(--main-color);
}
.level a{
    width: 100%;
    height: 100%;
    color: var(--white);
    font-size: 5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.level img{
    width: 60%;
    height: 60%;
    display: block;
    margin: 0 auto;
}
#rules {
    text-align: left;
    font-size: 2rem;
}
#rules h2{
    text-align: center;
    font-family: var(--game);
    font-size: 2.5rem;
}
#rules img{
    height: 2.5rem;
    width: 2.5rem;
}